/* Put your own style overrides in this file. */

/* example: change the tick-mark label color/font on the minimal-glow theme */
/*
.theme-minimal-glow .mark-label {
    fill: #AB0D30;
    font-family: 'Arial';
    font-weight: bolder;
}
*/

/* example: change the "days remaining" badge number color on the ornate-holiday theme */
/*
.theme-ornate-holiday .days-number {
    fill: #170069;
}
*/
